
/* Estilização geral da pagina */

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

/* Estilização do cabeçalho */
header{

    display: flex;
    position: relative;
    align-items: center;
    background: rgb(11, 11, 105);
    height: 9vh;
    padding: 0 10px;
    
}


/* Estilização Menu Esquerdo */

.button-home label{
    
    margin-top: 6px ;
    font-size: 45px;
    color: aliceblue;
    display: block;
    cursor: pointer;
    
}

.button-home ul{
    position: absolute;
    background: rgb(11, 11, 105);
    list-style: none;
    top:9vh;
    width: auto;
    left: 0;
    padding: 10px;
    display: block;
    z-index: -1;
    transform: translateY(-100%);
    transition: ease .5s;
}

[id^=left-button]:checked + ul{
    
    transform: translateY(0);
}


.button-home ul li{
    
    text-align: center;
    display:flex;
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    
}

.button-home ul li:hover{
    background: rgb(11, 11, 120) ;
}

.button-home ul li i{
    font-size: 30px;
    color: aliceblue;
    margin: 10px;
}

.button-home ul li a{
    
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
    display: block;
    
}

input{
    display: none;
}

/* Nome da pagina */

header .title{
    font-size: 200%;
    color: aliceblue;
    margin: 0 60px;
}

/* Itens da direita */

.itens-right{
    
    position: absolute;
    display: flex;
    right: 0;

}

/* Usuario */

.usuario{
    
    display: flex;
    color: aliceblue;
    align-items: center;
    
}

.usuario i{
    
    font-size: 45px;
    
}

/* menu direito */

.button-arrow label{
    
    margin-right: 10px;
    width: auto;
    margin-top: 6px ;
    margin-left: 70px;
    font-size: 45px;
    color: aliceblue;
    display: block;
    cursor: pointer;
    
}

.button-arrow ul{
    
    position: absolute;
    background: rgb(11, 11, 105);
    list-style: none;
    width: auto;
    right: 0;
    padding: 10px ;
    display: block;
    z-index: -1;
    transform: translateY(-100%);
    transition: ease .5s;
}


[id^=right-button]:checked + ul{
    
    transform: translateY(0);
    
}

.button-arrow ul li{
    
    text-align: center;
    display:flex;
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    
}

.button-arrow ul li:hover{
    background: rgb(11, 11, 120) ;
}

.button-arrow ul li i{
    font-size: 30px;
    color: aliceblue;
    margin: 10px;
}

.button-arrow ul li a{
    
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
    display: block;
    
}

/* Estilazação de conteúdo */

.content{

    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;

}

.content .well-text{

    display: inline;
    align-items: center;
    justify-content: center;

    height: 500px;
    width: 500px;
}

.content .well-text{

    position: relative;

}

.content .logo{
    position: absolute;
    top: 2px;
    left: 160px;

    width: 200px;
}

.content h4{
    margin-top: 40px;
}

/* Tamanho de tela */

@media (max-width: 500px) {
    
    .usuario{
        margin-right: -70px ;
    }

    .usuario h2{
        display: none;
    }

    header .title{
            margin: 0;
        }
    
}
