/* Estilização  geral */

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

/* Centralização da div central e estilização do Background */

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./images/img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);

}

/* Estilização do bloco central */

.login{

    width: 500px;
    background: whitesmoke;
    color: darkblue;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0,.5);
    outline: #063f84 solid 5px;
    padding: 30px 40px;

}

.login .logo{

    display:flex;
    width: 100%;
    height: 100px;
    padding: 0 80px;

}


/* Estilização das barras de preenchimentos */
.login .inputbox{

    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.inputbox input{

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid  #063f84;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 550;
    color: #010e53;
    padding: 20px 45px 20px 20px;

}
.inputbox input::placeholder{

    color: #010f539f;

}

.inputbox i{

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* Estilização do link "Esqueci senha" */
.login .esqueci-senha{

    display: flex;
    justify-content: end;
    font-size: 14.5px;
    margin: -15px 0 15px;   
}

.esqueci-senha a{

    color: rgb(116, 116, 216);
    text-decoration: none;
}

.esqueci-senha a:hover{

    text-decoration:underline;
    color: darkblue;
}


/* Estilização do botão */
.login .button{

    display: flex;
    justify-content: center;
    margin: 30px 0 20px;
}

.login .btn{

    width: 30%;
    height: 45px;
    background-color: #010e53;
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;

}

.login .btn:hover{

    width: 30%;
    height: 45px;
    background-color: #0b1f86;
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;

}