<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/stylesheets/style-register.css">
    <title>Ciesa Labs</title>
</head>
<body>
    
    <div class="register">
        <form action="/register" method="POST">
            
            <div class="logo"><img src="../static/images/Ciesa Labs - Logo.png" alt="logo"></div>
            
            <!-- Entrada de Nome do usuario -->
            <div class="inputbox">
                <input type="text" class="form-control" placeholder="Nome"  id="name" required name="name">
                <i class='bx bxs-user'></i>
            </div>
            
                <!-- Entrada de email -->
            <div class="inputbox">
                <input type="email" class="form-control" placeholder="E-mail"  id="email" required name="email">
                <i class='bx bxs-envelope'></i>
            </div>

                <!-- Entrada de Senha -->
            <div class="inputbox">
                <input type="password" class="form-control" id="pwd" placeholder="Senha" required name="password">
                <i class='bx bxs-lock-alt' ></i>
            </div>
            
            <!-- Botão Entrar -->
            <div class="button-register">
                <button type="submit" class="btn">Registrar</button>
            </div>

            <!-- Botão para tela de login -->
            <div class="pag-login">
                <p>Ja possui um registro? <a href="login"><strong class="link-login">Entrar</strong></a></p>
            </div>

        </form>

    </div>
    
</div>

</body>
</html>
